.score {
    padding: 1vw;

    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1vw;

    justify-content: center;
    align-items: center;

    position: relative;
    font-size: 1.8vw;
    font-family: 'Karla', sans-serif;
}

.highScore-value, .current-score-value {
    margin-left: 1vw;
    font-size: 2vw;
}

